p.Home__hero {
  font-size: 3em;
  font-weight: 500;
  text-align: center;
}

a.Home__link {
  text-decoration: none;
  color: inherit;
}

.Home__button-2 {
  margin-left: 8px;
}

@media only screen and (max-width: 600px) {
  p.Home__hero {
    font-size: 2em;
  }
}

/*@media only screen and (min-width: 747px) {*/
/*  .Home__button-2 {*/
/*    margin-left: 8px;*/
/*  }*/
/*}*/

/*@media only screen and (max-width: 747px) {*/
/*  .Home__button-2 {*/
/*    margin-top: 8px;*/
/*  }*/
/*}*/

@media only screen and (max-width: 413px) {
  .Home__button-1, .Home__button-2 {
    font-size: 0.7em !important;
  }
}